# Einführung Statistiklabor

# Beispielaufgabe 1 - Schulnoten

Lesen Sie die txt-Datei mit den Schulnoten ein und lassen Sie sich diese als Pandas-Dataframework ausgeben.
Anschließend sollen die **Häufigkeiten der erreichten Noten mithilfe eines Säulendiagramms** dargestellt sowie der *Mittelwert*, die *Standardabweichung*, die *Varianz* und der *Median* sowie die *Spannweite* ausgegeben werden. 

Die Formel für den Mittelwert zum Beispiel lautet:
$$\bar x = \frac{1}{n}\sum_{i=1}^{n} x_i$$

## 1. Einlesen der Datei

In [6]:
import pandas as pd
data = pd.read_csv('C:\\Users\\Adam\\OneDrive\\programmieren\\coding\\python\\Statistik\\Einführung-20250326\\datasets\\einf_b1.txt',
                   sep=" ",
header=None,
                   names=['Nr. ', 'Punkte', 'Note'],
                   decimal=',')
data.head(15)

   Nr.   Punkte  Note
0    01     110   1.0
1    02      90   1.7
2    03     108   1.0
3    04      95   1.3
4    05      80   2.3
5    06      74   2.7
6    07      52   3.7
7    08      78   2.3
8    09      39   4.7
9    10     102   1.0
10   qw     500   8.4
11   11      79   2.3
12   12      88   1.7
13   13      58   3.3
14   14      86   2.0

    ## 2. Daten bereinigen
In der 11. Zeile (index = 10) scheinen ungültige Daten vorzuliegen. Diese sollen aus dem Datensatz (mit *dataframe.drop()*) gelöscht werden.

In [ ]:
data_new = pd.DataFrame()
#data

## 3. Säulendiagramm der Häufigkeiten erstellen

### 3.1 Schulnoten-"klassen" einführen
Jede Dezimalnote kann einer eindeutigen Schulnotenklasse wie *sehr gut*, *gut*, ... und *ungenügend* zugeordnet werden. 
Die Trennung erfolgt immer bei $x,3$. Sodass z.B. 2,3 noch zur Gruppe gut gehört. **Aber:** Ab 4,0 ist die Zuordnung allgemein ungenügend.

In [ ]:
# Code

### 3.2 Häufigkeiten bestimmen
Mithilfe der Pandas-Funktion value_counts() kann ganz leicht die absolute Häufigkeit der jeweiligen Note $H_n(Note)$ bestimmt werden.

*z.B.: $H_n(gut) = 20$*

In [ ]:
# Code

#### Die relative Häufigkeit

$h_n = \frac{H_n(Note)}{n}$

Die Grundgesamtheit $n$ bestimmen über:

In [ ]:
# Code

*optionaler Zusatz: Die Summen der Spalten in neuer Zeile mit ausgeben lassen:*

In [ ]:
# Code

Relative Häufigkeit in Prozent [%] bestimmen (vgl. obere Formel)

In [ ]:
# Code

### 3.3 Säulendiagramm erstellen

In [ ]:
# Code

#### Ergänzung: Beschriftung der Säulen hinzufügen
(am Beispiel der relativen Häufigkeit)

In [ ]:
# Code

## 4. Statistische Angaben ausgeben
Für Mittelwert, Standardabweichung, Varianz und Median können vorgefertigte Methoden aufgerufen werden.

In [ ]:
# Code

Die Spannweite wird bestimmt, indem der kleinste Wert vom größten abgezogen wird. Zur Bestimmung dieser beiden Werte können auch wieder vorgefertigte Methoden verwendet werden.

In [ ]:
# Code